 <!-- Footer Section -->
 <footer class="footer">
  <div class="column">
      <h4>PackSmart</h4>
      <p>Got question? Contact us 24/7</p>
      <button>Help and consultation</button>
  </div>

  <div class="column">
      <h4>Company</h4>
      <a href="#">About company</a>
      <a href="#">Our team</a>
      <a href="#">Careers</a>
      <a href="#">Contact us</a>
      <a href="#">News</a>
  </div>

  <div class="column">
      <h4>Account</h4>
      <a href="#">Your account</a>
      <a href="#">Shipping rates & policies</a>
      <a href="#">Refunds & replacements</a>
      <a href="#">Delivery info</a>
      <a href="#">Order tracking</a>
  </div>

  <div class="column">
      <h4>Customer Service</h4>
      <a href="#">Payment methods</a>
      <a href="#">Money back guarantee</a>
      <a href="#">Product returns</a>
      <a href="#">Support center</a>
      <a href="#">Shipping</a>
      <a href="#">Terms and conditions</a>
  </div>

  <div class="bottom-row">
      <p>&copy; All rights reserved. Made by Createx Studio</p>
      <div class="social-icons">
          <img src="visa.png" alt="Visa">
          <img src="paypal.png" alt="PayPal">
          <img src="gpay.png" alt="Google Pay">
          <img src="applepay.png" alt="Apple Pay">
      </div>
  </div>
</footer>
