<footer class="footer">
        
    <div class="column">
        <h4>Quick Links</h4>
        <a href="/">Home</a><br>
        <a href="/userproducts">Shop</a><br>
        <a href="#">About Us</a><br>
        <a href="#">FAQs</a><br>
        <a href="#">Contact Us</a>
    </div>

    <div class="column">
        <h4>Contact Info</h4>
        <p>Email: support@packsmart.com</p>
        <p>Phone: +1 123 456 7890</p>
        <p>Address: 123 Travel Lane, Wanderlust City, WC 45678</p>
    </div>

    <div class="column">
        <h4>Policies</h4>
        <a href="#">Privacy Policy</a><br>
        <a href="#">Terms & Conditions</a><br>
        <a href="#">Shipping Policy</a><br>
        <a href="#">Return & Refund Policy</a>
    </div>

    <div class="column">
        <h4>Follow Us</h4>
        <a href="#">Twitter</a><br>
        <a href="#">Instagram</a><br>
        <a href="#">Facebook</a><br>
        <a href="#">LinkedIn</a>
    </div>

    <div class="bottom-row">
        <p>&copy; 2025 <strong>PackSmart</strong>. All Rights Reserved.</p>
    </div>
</footer>
  