  <!-- Sidebar -->
  <!-- Sidebar -->
  <div class="admin-sidebar">
    <ul>
        <li><h3>BestDeals</h3></li>
        <li><a href="/admin/dashboard" class="menu-item" id="dashboard-link">Dashboard</a></li>
        <li><a href="/admin/customers" class="menu-item" id="users-link">Customers</a></li>
        <li><a href="/admin/products" class="menu-item" id="products-link">Products</a></li>
        <li><a href="/admin/categories" class="menu-item" id="categories-link">Categories</a></li>
        <li><a href="/admin/orders" class="menu-item" id="orders-link">Orders</a></li>
        <li><a href="/admin/coupons" class="menu-item" id="coupons-link">Coupons</a></li>
        <li><a href="/admin/settings" class="menu-item" id="settings-link">Settings</a></li>
    </ul>
    <form action="/admin/logout" method="POST">
      <button class="logout-btn" >Logout</button>
    </form>
    
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Navbar -->
    <div class="navbar">
        <h2 class="navbar-heading">PackSmart</h2>
    </div>
